.Navigation {
    background-color: #CCC;
    border-bottom: solid 1px #AAA;
    width: 100%;
    display: flex;
    justify-content:space-between;
}

.Navigation_left {
    display: flex;
    justify-content:flex-start;
}

.Navigation_right {
    display:flex;
    justify-content:flex-end;
}

.Navigation_left a {
    padding:20px;
    color:#000;
    text-decoration:none;
}

.Navigation_left a:hover {
    text-decoration: underline;
    background-color: #AAA;
}
