.ProductListItem {
    border: solid 1px black;
    display:flex;
    flex-direction:column;
    justify-content: space-around;
    padding:20px;
    margin:2px;
    flex: 0 0 150px;
}

.ProductListItem .ProductListItem_Label {
    font-weight:bold;
}