.ProductItem_FormRow {
    display: flex;
    margin-bottom: 5px;
}

.ProductItem_FormRow label {
    display:flex;
    justify-content: flex-end;
    flex: 1 0 0.1px;
    max-width:100px;
    margin-right: 5px;
}

.ProductItem_FormRow input,
.ProductItem_FormRow select,
.ProductItem_FormRow .ProductItem_FormRowInputGroup {
    display:flex;
    justify-content:flex-start;
    flex: 1 0 0.1px;
    max-width:300px;
}